<div class="jumbotron">
  <h1 class="display-3"> BLENDER </h1>
  <p class="lead"> Can't decide? put your own ideas and options and blend it to get your decision. </p>

  
    <a class="btn btn-primary btn-lg" href="http://localhost:3000/users/sign_up" role="button">SIGN UP!</a>
    <a class="btn btn-primary btn-lg" href="http://localhost:3000/users/sign_in" role="button">LOG IN!</a>
 
</div>